<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feng.onekeylockscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.feng.onekeylockscreen.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Dar"
        			android:permission="android.permission.BIND_DEVICE_ADMIN">

        	<meta-data android:name="android.app.device_admin"
                       android:resource="@xml/device_admin" />

        	<intent-filter>
        		<action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
        	</intent-filter>
        </receiver>
    </application>

</manifest>