<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.iimob.waiters"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         >
        <activity
            android:name="cn.iimob.waiters.view.CallbyeTabActivity"
            android:label="@string/app_name"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="adjustPan"
               >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.iimob.waiters.view.TuiJian"></activity>
        <activity android:name="cn.iimob.waiters.view.FenLei"></activity>
        <activity android:name="cn.iimob.waiters.view.GouWuChe"
              ></activity>
        <activity android:name="cn.iimob.waiters.view.GengDuo"></activity>
        <activity android:name="cn.iimob.waiters.view.Caiview"></activity>
         <activity android:name="cn.iimob.waiters.view.CanZhuo"></activity>
          <activity android:name="cn.iimob.waiters.view.ViewKinds"></activity>
           
    </application>

</manifest>