<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.buaa.myweixin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
         >
        <activity
            android:name=".Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WhatsnewDoor" android:theme="@style/Anim_style2" />
        <activity android:name=".MainWeixin" android:theme="@style/Anim_style2" />
        <activity android:name=".Login"  android:theme="@android:style/Theme.NoTitleBar" />        
        <activity android:name=".Welcome"  android:theme="@style/Anim_style2"  />
        <activity android:name=".Whatsnew"  android:theme="@style/Anim_style2" />
        <activity android:name=".ChatActivity"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".ShakeActivity"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".InfoXiaohei"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="Exit" android:theme="@style/MyDialogStyle" />        
        <activity android:name="ExitFromSettings" android:theme="@style/MyDialogStyleBottom" /> 
        <activity android:name="InfoXiaoheiHead" android:theme="@style/HeadScale" />
        <activity android:name="LoadingActivity" android:theme="@style/MyDialogStyle" />             
        <activity android:name="MainTopRightDialog" android:theme="@style/MyDialogStyleTop" /> 
    </application>

</manifest>